.lightboxOverlay{position:absolute; top:0; left:0; z-index:9999; background-color:black; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity:0.6; display:none}
.lightbox{position:absolute; left:0; width:100%; z-index:10000; text-align:center; line-height:0; font-weight:normal}
.lightbox .lb-image{display:block; height:auto; max-width:inherit; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px}
.lightbox a img{border:none}
.lb-outerContainer{position:relative; background-color:white; *zoom:1; width:250px; height:250px; margin:0 auto;}
.lb-outerContainer:after{content:""; display:table; clear:both}
.lb-container{padding:4px}
.lb-loader{position:absolute; top:43%; left:0; height:25%; width:100%; text-align:center; line-height:0}
.lb-cancel{display:block; width:32px; height:32px; margin:0 auto; background:url(../images/loading.gif) no-repeat}
.lb-nav{position:absolute; top:0; left:0; height:100%; width:100%; z-index:10}
.lb-container > .nav{left:0}
.lb-prev, .lb-next{height:100%; cursor:pointer; display:block}
.lb-nav a.lb-prev{width:34%; left:0; float:left; background:url(../images/prev.png) left 48% no-repeat; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity:0; -webkit-transition:opacity 0.6s; -moz-transition:opacity 0.6s; -o-transition:opacity 0.6s; transition:opacity 0.6s}
.lb-nav a.lb-prev:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity:1}
.lb-nav a.lb-next{width:64%; right:0; float:right; background:url(../images/next.png) right 48% no-repeat; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity:0; -webkit-transition:opacity 0.6s; -moz-transition:opacity 0.6s; -o-transition:opacity 0.6s; transition:opacity 0.6s}
.lb-nav a.lb-next:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity:1}
.lb-dataContainer{ background:#fff;margin:0 auto; padding-top:5px; *zoom:1; width:100%;}
.lb-dataContainer:after{content:""; display:table; clear:both}
.lb-data{padding:0 4px; color:#999}
.lb-data .lb-details{ height:32px; text-align:left; font:normal 12px/32px 'Microsoft YaHei'; padding-bottom:10px; overflow:hidden;}
.lb-data .lb-caption{font-size:13px; font-weight:bold; line-height:1em}
.lb-data .lb-number{clear:left; padding-bottom:1em; font-size:12px; color:#999999}
.lb-closeContainer{ width:42px; height:42px; position:absolute; right:4px; top:4px; z-index:10001;}
.lb-close{display:block; width:42px; height:42px; background:url(../images/close.png) top right no-repeat; text-align:right; outline:none;}
.lb-close:hover{cursor:pointer; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity:1}
.data-download{ height:30px; background:#4AC15C; border:1px solid #37A447; color:#fff; font:normal 16px/30px 'Microsoft YaHei'; padding:0 10px; display:inline-block; float:right;}